*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (min-width: 1200px) {
  main {
    flex-direction: row;
  }
}

.addBook {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

section {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.show-books {
  margin-top: 1rem;
}